
  <div class="wrapper">
  

  
 
  
     
      <!-- Header section -->
      <header class="header-wrapper header-wrapper--home">
          <div class="container-fluid">
              <!-- Logo link-->
              <a href='index.html' class="logo">
                  <img alt='logo' src="/assets/images/logo.png">
              </a>
                                 


              <!-- Main website navigation-->
              <nav id="navigation-box">
               
                  <!-- Toggle for mobile menu mode -->
                  <a href="#" id="navigation-toggle">
                      <span class="menu-icon">
                          <span class="icon-toggle" role="button" aria-label="Toggle Navigation">
                            <span class="lines"></span>
                          </span>
                      </span>
                  </a>
<div class="control-panel"><input type="text" name="search" placeholder="Search.."></div>
                  <!-- Link navigation -->
                  <ul id="navigation">
                
                      <li>
                         
                          <a href="index.html">home</a>
                          
                      </li>
                      <li>
                        
                          <a href="live-ch.html">live channels</a>
                          
                      </li>
                      <li>
                           <span class="sub-nav-toggle plus"></span>
                          <a href="">vod</a>
                          <ul>
                              <li class="menu__nav-item"><a href="typography.html">1</a></li>
                              <li class="menu__nav-item"><a href="page-elements.html">2</a></li>
                              <li class="menu__nav-item"><a href="column.html">3s</a></li>
                              <li class="menu__nav-item"><a href="icon-font.html">4</a></li>
                          </ul>
                          
                      </li>
                      <li>
                     
                          <a href="movies.html">movies</a>
                          
                      </li>
                      <li>
                     
                          <a href="catch-up.html">catch-up</a>
                          
                      </li>
                      <li>
                     
                          <a class="login-window" href="premium.html">premium</a>
                             
                      </li>
                  </ul>
              </nav>
              
              <!-- Additional header buttons / Auth and direct link to booking-->
              <div class="control-panel">
                <!--  <div class="auth auth--home">
                    <div class="auth__show">
                      <span class="auth__image">
                        <img alt="" src="/assets/images/client-photo/auth.png">
                      </span>
                    </div>
                    <a href="#" class="btn btn--sign btn--singin">
                        me
                    </a>
                      <ul class="auth__function">
                          <li><a href="#" class="auth__function-item">Watchlist</a></li>
                          <li><a href="#" class="auth__function-item">Booked tickets</a></li>
                          <li><a href="#" class="auth__function-item">Discussion</a></li>
                          <li><a href="#" class="auth__function-item">Settings</a></li>
                      </ul>

                  </div>-->
                 
              </div>

          </div>
      </header>

   
      
      
      <!-- Main content -->
      <section class="container-fluid kk ">
      
      
          <div class="movie-best ">
             
               <div class="col-sm-12 change--col ">
           
    <movie-component></movie-component>
      
                   
            
               </div>
            
          </div>

          
          
          <div class="clearfix"></div>
          </section>
          
          
 <div class="clt"></div>     
 
         
<section class="">


              <!-- general -->
 <div class="Latest-tv-series live-c">
  
  <div class="black-b">

    
      <a class="link link--kukuri" href="#" data-letters="Live Channel">Live Channel</a>

    <section class="slider">
      <div class="flexslider">
        <ul class="slides">
          <li style="display: block;">
            <div class="agile_tv_series_grid news">
            
              
              <div class="clearfix"> </div>
              <div class="agileinfo_flexislider_grids">
                <channel-component></channel-component>
                <div class="clearfix"> </div>
              </div>
            </div>
          </li>
          
        </ul>
      </div>
    </section>
    
  </div>
</div>
  
   <div class="clt"></div>  
<!-- //general -->
<div class="Latest-tv-series">
  
  <div class="black-b">
      <!-- <h2 class="page-heading">News</h2> -->
      <a class="link link--kukuri" href="#" data-letters="News">News</a>

    <section class="slider">
      <div class="flexslider">
        <ul class="slides">
          <li style="display:block;">
            <div class="agile_tv_series_grid ">
            
              
              <div class="clearfix"> </div>
              <div class="agileinfo_flexislider_grids">
                <news-component [category]="'news'"></news-component>
              
                <div class="clearfix"> </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    
  </div>
</div>
   <div class="clt"></div>  


           <!-- general -->
  <!-- <div class="Latest-tv-series live-c">
  
  <div class="black-b">
      <h2 class="page-heading">Talk Shows</h2>
    <section class="slider">
      <div class="flexslider">
        <ul class="slides">
          <li style="display:block;">
            <div class="agile_tv_series_grid">
            
              
              <div class="clearfix"> </div>
              <div class="agileinfo_flexislider_grids">
                  <news-component [category]="'talkshows'"></news-component>

              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    
  </div>
</div> -->
<!-- //general -->



<div class="clt"></div>  



          <!-- general -->
  <div class="Latest-tv-series">
  
  <div class="movies black-b">
      <!-- <h2 class="page-heading">Entertainment</h2> -->
      <a class="link link--kukuri" href="#" data-letters="Entertainment">Entertainment</a>

    <section class="slider">
      <div class="flexslider">
        <ul class="slides">
          <li style="display: block;">
              <div class="agileinfo_flexislider_grids">
                <news-component [category]="'entertainment'"></news-component>
                <div class="clearfix"> </div>
              </div>
          </li>
          
        </ul>
      </div>
    </section>
    
  </div>
</div>
<!-- //general -->
  
              

<div class="clt"></div>  



<!-- general -->
<div class="Latest-tv-series">

<div class="movies black-b">
<!-- <h2 class="page-heading">Drama</h2> -->
<a class="link link--kukuri" href="#" data-letters="Drama">Drama</a>

<section class="slider">
<div class="flexslider">
<ul class="slides">
<li style="display: block;">
    <div class="agileinfo_flexislider_grids">
      <news-component [category]="'drama'"></news-component>
      <div class="clearfix"> </div>
    </div>
</li>

</ul>
</div>
</section>

</div>
</div>
<!-- //general -->


<div class="clt"></div>  



<!-- general -->
<div class="Latest-tv-series">

<div class="movies black-b">
<!-- <h2 class="page-heading">Sports</h2> -->
<a class="link link--kukuri" href="#" data-letters="Sports">Sports</a>

<section class="slider">
<div class="flexslider">
<ul class="slides">
<li style="display: block;">
    <div class="agileinfo_flexislider_grids">
      <news-component [category]="'sports'"></news-component>
      <div class="clearfix"> </div>
    </div>
</li>

</ul>
</div>
</section>

</div>
</div>
<!-- //general -->


<div class="clt"></div>  



<!-- general -->
<div class="Latest-tv-series">

<div class="movies black-b">
<!-- <h2 class="page-heading">Kids</h2> -->
<a class="link link--kukuri" href="#" data-letters="Kids">Kids</a>

<section class="slider">
<div class="flexslider">
<ul class="slides">
<li style="display: block;">
    <div class="agileinfo_flexislider_grids">
      <news-component [category]="'kids'"></news-component>
      <div class="clearfix"> </div>
    </div>
</li>

</ul>
</div>
</section>

</div>
</div>
<!-- //general -->
    

<div class="clt"></div>  



<!-- general -->
<div class="Latest-tv-series">

<div class="movies black-b">
<!-- <h2 class="page-heading">Islamic</h2> -->
<a class="link link--kukuri" href="#" data-letters="Islamic">Islamic</a>

<section class="slider">
<div class="flexslider">
<ul class="slides">
<li style="display: block;">
    <div class="agileinfo_flexislider_grids">
      <news-component [category]="'islamic'"></news-component>
      <div class="clearfix"> </div>
    </div>
</li>

</ul>
</div>
</section>

</div>
</div>
<!-- //general -->
      </section>
      
    
 <div class="clearfix"></div>
<div class="clt"></div>  
      <footer class="footer-wrapper">
          <section class="container">
              <div class="col-xs-12 col-md-6 footer-info">
              
              <p class="heading-special--small">Mash App<br></p>

<div style="clear:both"></div>
<p class="copy"> <label class="green"></label> Design and Developed by zaryans tech</p>  

             </div>
           
              <div class="col-xs-12 col-md-6">
                  <div class="footer-info">
                     
                      <ul class="social">
                          <li><a class="vod" href='#'></a></li>
                          <li><a class="livech" href='#'></a></li>
                           <li><a class="livetv" href='#'></a></li>
                         
                      </ul>
                      
                      <div class="clearfix"></div>
                      
                  </div>
              </div>
          </section>
      </footer>

  </div>
<login-component></login-component>>



