    <ngx-slick-carousel class="carousel" 
    #slickModal="slick-carousel" 
    [config]="slideConfig" 
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)">
<div ngxSlickItem *ngFor="let slide of totalItems" style="max-width:253px;padding: 5px;" class="slide">

      <div class="item">
            <div class="movie-beta__item ">
           
            <figure class="effect-sadie">
               <a href="single.html" class="hvr-shutter-out-horizontal"><img class="thumbnail" alt='' src={{assetUrl+slide.thumbnail}}>
          </a>
            <figcaption>
               <div class="w3l-action-icon"> <i class="fa fa-play-circle" aria-hidden="true"></i></div>
               <h2>{{slide.title}}<span>({{slide.year}})</span></h2>
               <p>{{slide.genres}}</p>
            </figcaption> 
               </figure>
            </div>
          </div>

</div>
</ngx-slick-carousel>

<!-- <button (click)="removeSlide()">Remove</button>
<button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
<button (click)="slickModal.unslick()">unslick</button> -->
<!-- slickPlay -->