

   
<ngx-slick-carousel *ngIf="category === 'news' && loading != true" class="carousel" 
#slickModal="slick-carousel" 
[config]="slideConfig" 
(init)="slickInit($event)"
(breakpoint)="breakpoint($event)"
(afterChange)="afterChange($event)"
(beforeChange)="beforeChange($event)">
<div ngxSlickItem *ngFor="let slide of totalItems " style="max-width:253px;padding: 5px;" class="slide">
    <div class="col-md-12 w3l-movie-gride-agile grid">
        <!-- {{assetUrl+slide.thumbnail}} -->
        <!-- "/assets/images/243x194.77.png" -->
        <figure class="effect-sadie"><img src={{assetUrl+slide.thumbnail}} title="album-name" class="img-responsive" alt=" " />
          <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
       <div class="w3l-movie-text">
        <figcaption>
                       
    <h2>{{slide.title}}</h2>
    <p>{{slide.length}}</p>
    <div class="mid-2 agile_mid_2_home view">
            <p style="text-align:left">{{slide.category}}</p>
            <div class="block-stars">
              <ul class="w3l-ratings">
                <p style="text-align:right">in 5 hours</p>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
    </figcaption>
    </div>		
    </figure>            
    </div>
</div>
</ngx-slick-carousel>

<ngx-slick-carousel *ngIf="category === 'talkshows' && loading != true" class="carousel" 
#slickModal="slick-carousel" 
[config]="slideConfig" 
(init)="slickInit($event)"
(breakpoint)="breakpoint($event)"
(afterChange)="afterChange($event)"
(beforeChange)="beforeChange($event)">
<div ngxSlickItem *ngFor="let slide of totalItems " style="max-width:253px;padding: 5px;" class="slide">

    <div class="col-md-12 w3l-movie-gride-agile grid">
        <figure class="effect-sadie"><img src={{assetUrl+slide.thumbnail}} title="album-name" class="img-responsive" alt=" " />
          <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
       <div class="w3l-movie-text">
        <figcaption>
                       
    <h2>{{slide.title}}</h2>
    <p>{{slide.length}}</p>
    <div class="mid-2 agile_mid_2_home view">
            <p style="text-align:left">{{slide.category}}</p>
            <div class="block-stars">
              <ul class="w3l-ratings">
                <p style="text-align:right">in 5 hours</p>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
    </figcaption>
    </div>		
                 
                  </figure>
                      
       </div> 
    

</div>
</ngx-slick-carousel>
<ngx-slick-carousel *ngIf="category === 'entertainment' || category === 'sports' || category === 'drama' || category === 'kids' || category === 'islamic' && loading != true" class="carousel" 
#slickModal="slick-carousel" 
[config]="slideConfig" 
(init)="slickInit($event)"
(breakpoint)="breakpoint($event)"
(afterChange)="afterChange($event)"
(beforeChange)="beforeChange($event)">
<div ngxSlickItem *ngFor="let slide of totalItems " style="max-width:253px;padding: 5px;" class="slide">

    <div class="col-md-12 w3l-movie-gride-agile grid">
        <figure class="effect-sadie"><img src={{assetUrl+slide.thumbnail}} title="album-name" class="img-responsive" alt=" " />
          <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
       <div class="w3l-movie-text">
        <figcaption>
                       
    <h2>{{slide.title}}</h2>
    <p>{{slide.length}}</p>
    <div class="mid-2 agile_mid_2_home view">
            <p style="text-align:left">{{slide.category}}</p>
            <div class="block-stars">
              <ul class="w3l-ratings">
                <p style="text-align:right">in 5 hours</p>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
    </figcaption>
    </div>		
                 
                  </figure>
                      
       </div>

</div>
</ngx-slick-carousel>

<ngx-slick-carousel *ngIf="category === 'channel' && loading != true" class="carousel" 
#slickModal="slick-carousel" 
[config]="slideConfig" 
(init)="slickInit($event)"
(breakpoint)="breakpoint($event)"
(afterChange)="afterChange($event)"
(beforeChange)="beforeChange($event)">
<div ngxSlickItem *ngFor="let slide of totalItems " style="max-width:253px;padding: 5px;" class="slide">
    <div class="col-md-12 w3l-movie-gride-agile">
        <a href="single.html" class="hvr-shutter-out-horizontal"><img src= {{assetUrl+slide.logo}} title="album-name" class="img-responsive" alt=" " />
          <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
        </a>
        <div class="mid-1 agileits_w3layouts_mid_1_home">
          <div class="w3l-movie-text">
            <h6><a href="single.html">{{slide.name}}</a></h6>							
          </div>
          <div class="mid-2 agile_mid_2_home">
            <p>{{slide.category}}</p>
            <div class="block-stars">
              <ul class="w3l-ratings">
                <p>58 Minutes ago</p>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>            
      </div>
</div>
</ngx-slick-carousel>
<ngx-slick-carousel *ngIf="loading === true || category === 'loading'" class="carousel" 
#slickModal="slick-carousel"
[config]="slideConfig" 
(init)="slickInit($event)"
(breakpoint)="breakpoint($event)"
(afterChange)="afterChange($event)"
(beforeChange)="beforeChange($event)">
<div ngxSlickItem *ngFor="let slide of slides " style="max-width:253px;padding: 5px;" class="slide">
    <div class="col-md-12 w3l-movie-gride-agile">
        <a href="single.html" class="hvr-shutter-out-horizontal"><img src={{slide.img}} title="album-name" class="img-responsive" alt=" " />
          <!-- <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div> -->
        </a>        
      </div>
</div>
</ngx-slick-carousel>